body {
  margin: 0;
  text-align: center;
  font-family: arial;
}

h1 {
  margin: 2rem auto 2rem auto;
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 5.625rem;
  line-height: 1.5;
  color: #66BFBF;
}

h2 {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Akaya Telivigala', cursive;
  color: #11999E;
  font-size: 1.5rem;
}

p {
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 10%;
  border-color: #aaaaaa;

}
.top-container {
  background-color: #ccf2f4;
  position: relative;
  padding-top: 90px;

}

.middle-container {
  background-color: #f4f9f9;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bottom-container {
  background-color: #a4ebf3;
  padding: 20px;
  color: #28527a;

}

.cloud-bottom {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.cloud-top {
  position: absolute;
  right: 300px;
  top: 50px;
}

.pao-photo {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.skill-mechanic-photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 30px;
}
.skill-code-photo {
  border-radius: 50%;
  position: relative;
  top:30px;
  width: 200px;
  height: 200px;
  float: right;
  margin-left:30px;
}

.contact-photo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2.1;
}
.Text-skills-bottom{
  padding: 40px;

}
.contact-me{
  line-height: 2;
  padding: 50 0 50 0;
}
.footer-link{
  padding: 0 30px 0 30px;
}
.profile{
  padding-bottom: 50px;
}
.skills{
  padding-top: 50px;
}
.BUTTON_DAM {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #A4EBF3;
   font-family: Brush Script MT;
   font-size: 21px;
   font-weight: 200;
   padding: 10px;
   background-color: #3D94F6;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 50px;
}

.BUTTON_DAM:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
