
body{
  margin: 0;
  text-align: center;
  font-family: arial;
}
h1 {
  margin-top: 0;
  font-family: 'Akaya Kanadaka', cursive;
}
h2{
  font-family: 'Akaya Telivigala', cursive;
}
h3{
  font-family: 'Akaya Telivigala', cursive;
}
p{
  font-family: 'Mukta', sans-serif;
}
.top-container{
  background-color: #f4f9f9;
  position:relative;
  padding-top: 100px;
}
.middle-container{
  background-color: #f4f9f9;
  padding-top: 50px;
}
.bottom-container{
  background-color: #f4f9f9;
  padding: 20px;
}
.cloud2{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
 .cloud1{
   position: absolute;
   right:300px;
   top:50px;
 }
 .pao-photo{
   border-radius: 50%;
   width:200px;
   height: 200px;
 }
.skill-photo{
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.contact-photo{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
