
body{
  margin: 0;
  text-align: center;
  font-family: arial;
}
h1 {
  margin: 2rem auto 2rem auto;
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 5.625rem;
  line-height: 1.5;
  color: #66BFBF;
}
h2{
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}
h3{
  font-family: 'Akaya Telivigala', cursive;
  color:#11999E;
}
p{
  font-family: 'Mukta', sans-serif;
}
.top-container{
  background-color: #ccf2f4;
  position:relative;
  padding-top: 90px;
}
.middle-container{
  background-color: #f4f9f9;
  padding-top: 50px;
}
.bottom-container{
  background-color: #f4f9f9;
  padding: 20px;
}
.cloud2{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
 .cloud1{
   position: absolute;
   right:300px;
   top:50px;
 }
 .pao-photo{
   border-radius: 50%;
   width:300px;
   height: 300px;
 }
.skill-photo{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.contact-photo{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
